
<!-- Footer -->
<footer class="page-footer font-large gray fixed-bottom">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 bg-dark text-light">
      © 2019 Copyright, BAD Donuts (Benny, Ahmad, Diego)
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->